.sec3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-3-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-3-2{
    display: flex;

}
.box2{
    width: 350px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
}
.box2>:nth-child(1){
    font-size: 24px;
    font-weight: 600;
}
.skill{
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
}
.skill-1{
    display: flex;
    align-items: start;
    gap: 10px;
    
}
.skill-1 img{
    width: 30px;
}
.skill-1-2{ 
    display: flex;
    flex-direction: column;
}
.skill-1-2>:nth-child(1){
    font-size: 18px;
    font-weight: 600;
}